main {
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    margin: 50px 0;
}

section {
    margin: 0 20px 0 20px;
    height: 200px;
    width: 200px;
}

img {
    margin: auto;
    height: 100%;
}


.thumb, h2, h3, .employees, h1 {
    display: flex;
    justify-content: center;
}

.details {
    padding-top: 50px;
}

.image-big {
    width: 100%;
}

