body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;

}

img {
    margin: auto;
    height: 100%;
}

h1 {
    color: white;
    font-size: 90px;
    margin: 50px 0;
    text-shadow: #171717 2px 0 20px;
}

.employee-shortcut {
    padding-top: 120px;
    margin: 0 20px 0 20px;
    height: 200px;
    width: 200px;
}

.thumbtack {
    position: relative;
    height: 60px;
    left: 70px;
    top: 30px;
}

.index-name {
    background-image: url(../images/paper.jpg);
    background-size:inherit;
    background-position: -100px;
}

.thumb, h2, h3, .employees, h1 {
    display: flex;
    justify-content: center;
}

/* Details Page */

.details {
    margin-top: 90px !important;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../images/corkboard2.jpg);
    border: 20px solid rgb(66, 38, 22);
}

.image-big {
    width: 100%;
}

.details-h1 {
    padding-top: 31px;
    font-size: 60px;
    color: black;
    text-shadow: unset;
}
.details-h2 {
    font-size: 40px;
}

.employees {
    background-image: url(../images/corkboard2.jpg);
    width: 70%;
    justify-self: center;
    height: 650px;
    background-size:contain;
    border: 20px solid rgb(66, 38, 22);
}

.thumbtack-details {
    position: relative;
    height: 120px;
    left: 290px;
    top: -320px;
    width: 90px;
    max-width: unset;
}

.details-text {
    background-image: url(../images/paper.jpg);
    background-size: cover;
}

